alembic
blinker
certifi
click
colorama
distlib
filelock
Flask
Flask-Cors
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
pipenv
platformdirs
psycopg2
python-dotenv
six
SQLAlchemy
typing_extensions
virtualenv
virtualenv-clone
Werkzeug
gunicorn
