@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.nav-link:active::before,
.nav-link:hover::before {
  content: '[';
  position: absolute;
}

.nav-link:active::after,
.nav-link:hover::after {
  content: ']';
  position: absolute;
}
